h2 Edit post
label(for='title') Dish Name
input(ng-model='form.title', name='title')
label(for='username') Username
input(ng-model='form.username', name='username')
p Description/Recipe
textarea(ng-model='form.text', cols='50', rows='15')
p
	button.btn.btn-danger(ng-click='editPost()') Edit Post