extends layout
block body
    br
    div.label.label-warning
      h1 &nbsp; Bubba Gump Kimchi &nbsp;
        
    div
      h3
        a.btn.btn-danger(href='/') View Dishes
        span &nbsp;
        a.btn.btn-danger(href='/addPost') Add Kimchi Dish

      div(ng-view)
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='https://cdn.firebase.com/v0/firebase-simple-login.js')
    script(src='js/lib/angular/angular.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='js/login.js')